.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    &_mobile {
        justify-content: center;
        gap: 12px;
    }
    
    .links {
        display: flex;
        gap: 10px;
    }

    .left_side {
        display: flex;
    }
}